body {
    background-image: url(assets/bg.jpg);
    background-size: cover;
    color: white;
    
}

#quizHeader {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
#logoEpicode {
    width: 30%;
    height: auto;
}

#timer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-start; 
    position: absolute;
    top: 2em; 
    right: 2em;
    margin-right: 1em;
    margin-top: 1em;
    font-size: 20pt;
    font-weight: bold;
}




#domanda {
    font-family: "Outfit",sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 4em;
}


    


#risposte {
    text-align: center;
    position: absolute;
    margin-top: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#buttonsQuestions:hover {
    background-color: mediumvioletred;
}



#buttonsQuestions {
    color: white;
    background: none;
    margin: 1em;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    font-size: 12pt;
    font-weight: bold;
}

#numeroDomande {
    font-size: 13pt;
    font-weight: lighter;
    position: absolute;
    text-align: center;
    bottom: 1em;
    width: 90%;
    color: white;
    padding: 10px;
    text-align: center;
}

.result-box {
position: relative;
top: 50%;
left: 50%;
transform: translate (-50%, -50%);
width: 600px;
background: transparent;
display: flex;
flex-direction: row;
align-items: center;
border-style: solid;
border-width: 2px;
border-color: mediumvioletred;
opacity: 0;
pointer-events: none;

}

#quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;

}

.result-box h2 {
    font-size: 70px;
    font-weight: lighter;
    color:white;
    text-align: center;
}

.result-box .percentage-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:25px 0 40px;

}

.percentage-container .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.circular-progress .progress-value {
position: relative;
font-size: 40pt;
font-weight: 400;

}

.percentage-container .score-text {
    font-size: 20pt;
    font-weight: 400;
    margin-top: 20px;
}

.try-again {
    width: 140px;
    height: 45px;
    background: aqua ;
    border:none;
    font-size: 14pt;
    font-weight: 500;
    cursor:pointer;
    margin-top: 25px;
    align-self: center;
}

.try-again:hover {
    box-shadow: 0px 0px 10px 10px rgba(90,231,250,0.75);
    transition: box-shadow .5s;
    border-radius: box-shadow 50px;
}
